<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <div class="flex justify-between align-center">
        <h1 class="text-3xl"> 
            Welcome, <span class="text-purple-600 font-semibold"><%= @user.name %><span>
        </h1>
        <p class="text-xl">
            <u><%= link_to "Click here to get public URL for your resume", url_for(@user), target: :_blank, rel: 'noopener' %></u>
        </p>
        <%= render 'shared/input/buttons/secondary', color: "purple", label: "Edit", href: edit_url %>
    </div>
    
    <%= render 'shared/profile/preview', profile: @user.profile %>
</main>